$color1: #06152b;
$color2: #809fb8;
$color3: #3a36db;
$color4: #f1f4fa;
$color5: rgba($color2, 0.2);
$color6: #71fee5;
$color7: #7cf352;
$color8: #ff0c0c;
$color9: #e1e7ec;
$color10: #183b56;
$color11: #e5e5e5;
$color12: #fafbfd;
$color13: #5a7184;
$color14: #c3cad9;
