@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Sora", sans-serif;
  color: $color2;
}

body {
  font-size: 18px;
}

.section {
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 150px;
  padding-bottom: 150px;

  @media screen and (max-width: 1600px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media screen and (max-width: 575px) {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  &.fancy {
    position: relative;
    padding-top: 80px;
    overflow: hidden;

    .bg-fancy {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      background-color: $color3;
      padding-top: 30%;

      @media screen and (max-width: 1600px) {
        padding-top: 45%;
      }

      @media screen and (max-width: 991px) {
        padding-top: 53%;
      }

      @media screen and (max-width: 575px) {
        padding-top: 70%;
      }

      .oval-1,
      .oval-2,
      .wave {
        position: absolute;
        position: absolute;
      }

      .oval-1 {
        left: 0;
        top: -130px;

        @media screen and (max-width: 1200px) {
          left: -20px;
          top: 0px;
        }

        @media screen and (max-width: 767px) {
          left: 0;
        }
      }

      .oval-2 {
        right: 0;
        top: -130px;

        @media screen and (max-width: 1200px) {
          right: -40px;
          top: -130px;
        }

        @media screen and (max-width: 767px) {
          right: 0;
        }
      }

      .wave {
        left: 0;
        right: 0;
        bottom: -1px;
        width: 100%;
      }
    }

    .page-container {
      position: relative;

      .title {
        text-align: center;

        * {
          color: #fff;
        }

        h2 {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.page-container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

.main-layout {
  .main-layout-content {
    margin-top: 105px;

    @media screen and (max-width: 1600px) {
      margin-top: 80px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }
  }
}

@keyframes ldio-f1oz5qkn5bh {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.01, 1.01);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-f1oz5qkn5bh div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3a36db;
  animation: ldio-f1oz5qkn5bh 1.4925373134328357s linear infinite;
}
.ldio-f1oz5qkn5bh div:nth-child(1) > div {
  left: 74px;
  top: 44px;
  animation-delay: -1.3568521031207599s;
}
.ldio-f1oz5qkn5bh > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}
.ldio-f1oz5qkn5bh div:nth-child(2) > div {
  left: 69px;
  top: 60px;
  animation-delay: -1.2211668928086838s;
}
.ldio-f1oz5qkn5bh > div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  transform-origin: 75px 66px;
}
.ldio-f1oz5qkn5bh div:nth-child(3) > div {
  left: 56px;
  top: 71px;
  animation-delay: -1.0854816824966078s;
}
.ldio-f1oz5qkn5bh > div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  transform-origin: 62px 77px;
}
.ldio-f1oz5qkn5bh div:nth-child(4) > div {
  left: 40px;
  top: 74px;
  animation-delay: -0.9497964721845319s;
}
.ldio-f1oz5qkn5bh > div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  transform-origin: 46px 80px;
}
.ldio-f1oz5qkn5bh div:nth-child(5) > div {
  left: 24px;
  top: 67px;
  animation-delay: -0.8141112618724559s;
}
.ldio-f1oz5qkn5bh > div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  transform-origin: 30px 73px;
}
.ldio-f1oz5qkn5bh div:nth-child(6) > div {
  left: 15px;
  top: 52px;
  animation-delay: -0.6784260515603799s;
}
.ldio-f1oz5qkn5bh > div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  transform-origin: 21px 58px;
}
.ldio-f1oz5qkn5bh div:nth-child(7) > div {
  left: 15px;
  top: 36px;
  animation-delay: -0.5427408412483039s;
}
.ldio-f1oz5qkn5bh > div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  transform-origin: 21px 42px;
}
.ldio-f1oz5qkn5bh div:nth-child(8) > div {
  left: 24px;
  top: 21px;
  animation-delay: -0.40705563093622793s;
}
.ldio-f1oz5qkn5bh > div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  transform-origin: 30px 27px;
}
.ldio-f1oz5qkn5bh div:nth-child(9) > div {
  left: 40px;
  top: 14px;
  animation-delay: -0.27137042062415195s;
}
.ldio-f1oz5qkn5bh > div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  transform-origin: 46px 20px;
}
.ldio-f1oz5qkn5bh div:nth-child(10) > div {
  left: 56px;
  top: 17px;
  animation-delay: -0.13568521031207598s;
}
.ldio-f1oz5qkn5bh > div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  transform-origin: 62px 23px;
}
.ldio-f1oz5qkn5bh div:nth-child(11) > div {
  left: 69px;
  top: 28px;
  animation-delay: 0s;
}
.ldio-f1oz5qkn5bh > div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  transform-origin: 75px 34px;
}
.loadingio-spinner-spin-652ufucf3q8 {
  width: 65px;
  height: 61px;
  display: inline-block;
  overflow: hidden;
  background: none;
  margin: 0 auto;
}
.ldio-f1oz5qkn5bh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.61);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-f1oz5qkn5bh div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

.btn {
  height: 55px;
  padding: 10px 38px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  gap: 8px;
  background-color: transparent;

  @include transitioned;

  &:hover {
    transform: scale(1.04);
  }

  @media screen and (max-width: 1600px) {
    height: 36px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 10px;
  }

  @media screen and (max-width: 767px) {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
  }

  .btn-text {
    font-weight: 700;
    font-size: 18px;

    @media screen and (max-width: 1600px) {
      font-size: 13px;
    }

    @media screen and (max-width: 767px) {
      font-size: 11px;
    }
  }

  &.xlg {
    min-height: 55px;
  }

  &.lg {
    height: 74px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 14px;

    @media screen and (max-width: 1600px) {
      height: 60px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 12px;
    }

    @media screen and (max-width: 767px) {
      height: 40px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 10px;
    }

    .btn-text {
      font-size: 20px;

      @media screen and (max-width: 1600px) {
        font-size: 16px;
      }

      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  &.sm {
    height: 55px;

    @media screen and (max-width: 1600px) {
      height: 48px;
    }

    @media screen and (max-width: 767px) {
      height: 40px;
    }

    .btn-text {
      @media screen and (min-width: 1601px) {
        font-size: 16px;
      }
    }
  }

  &.rev {
    flex-direction: row-reverse;
  }

  &.btn-cyan {
    background-color: $color17;

    .btn-text {
      color: #fff;
    }
  }

  &.btn-primary {
    background-color: $color3;

    .btn-text {
      color: #fff;
    }

    &.shadowed {
      box-shadow: 0px 55px 84px 0px rgba($color3, 0.19);
    }

    .lds-hourglass:after {
      border: 14px solid #fff;
      border-color: #fff transparent #fff transparent;
    }
  }

  &.btn-white {
    background-color: #fff;

    .btn-text {
      color: $color3;
    }
  }

  &.btn-transparent {
    background-color: transparent;
    border: 1px solid $color9;

    .btn-text {
      color: $color1;
    }
  }

  @keyframes ldio-f1oz5qkn5bh {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.01, 1.01);
    }
    100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1, 1);
    }
  }
  .ldio-f1oz5qkn5bh div > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    animation: ldio-f1oz5qkn5bh 1.4925373134328357s linear infinite;
  }
  .ldio-f1oz5qkn5bh div:nth-child(1) > div {
    left: 62px;
    top: 44px;
    animation-delay: -1.2793176972281448s;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 68px 50px;
  }
  .ldio-f1oz5qkn5bh div:nth-child(2) > div {
    left: 55px;
    top: 58px;
    animation-delay: -1.0660980810234542s;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(2) {
    transform: rotate(51.42857142857143deg);
    transform-origin: 61px 64px;
  }
  .ldio-f1oz5qkn5bh div:nth-child(3) > div {
    left: 40px;
    top: 62px;
    animation-delay: -0.8528784648187633s;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(3) {
    transform: rotate(102.85714285714286deg);
    transform-origin: 46px 68px;
  }
  .ldio-f1oz5qkn5bh div:nth-child(4) > div {
    left: 28px;
    top: 52px;
    animation-delay: -0.6396588486140724s;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(4) {
    transform: rotate(154.28571428571428deg);
    transform-origin: 34px 58px;
  }
  .ldio-f1oz5qkn5bh div:nth-child(5) > div {
    left: 28px;
    top: 36px;
    animation-delay: -0.42643923240938164s;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(5) {
    transform: rotate(205.71428571428572deg);
    transform-origin: 34px 42px;
  }
  .ldio-f1oz5qkn5bh div:nth-child(6) > div {
    left: 40px;
    top: 26px;
    animation-delay: -0.21321961620469082s;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(6) {
    transform: rotate(257.14285714285717deg);
    transform-origin: 46px 32px;
  }
  .ldio-f1oz5qkn5bh div:nth-child(7) > div {
    left: 55px;
    top: 30px;
    animation-delay: 0s;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(7) {
    transform: rotate(308.57142857142856deg);
    transform-origin: 61px 36px;
  }
  .ldio-f1oz5qkn5bh div:nth-child(8) > div {
    display: none;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(8) {
    display: none;
  }
  .ldio-f1oz5qkn5bh div:nth-child(9) > div {
    display: none;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(9) {
    display: none;
  }
  .ldio-f1oz5qkn5bh div:nth-child(10) > div {
    display: none;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(10) {
    display: none;
  }
  .ldio-f1oz5qkn5bh div:nth-child(11) > div {
    display: none;
  }
  .ldio-f1oz5qkn5bh > div:nth-child(11) {
    display: none;
  }
  .loadingio-spinner-spin-652ufucf3q8 {
    width: 61px;
    height: 61px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-f1oz5qkn5bh {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.61);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-f1oz5qkn5bh div {
    box-sizing: content-box;
  }
  /* generated by https://loading.io/ */
}

.text-light-1 {
  color: $color2 !important;
}

.text-primary-1 {
  color: $color3 !important;
}

.text-dark-1 {
  color: #06152b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color1;

  * {
    font-size: inherit;
  }
}

h1 {
  font-size: 72px;
  line-height: 1.5;

  @media screen and (max-width: 1600px) {
    font-size: 48px;
  }

  @media screen and (max-width: 575px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 48px;

  @media screen and (max-width: 1600px) {
    font-size: 36px;
  }

  @media screen and (max-width: 575px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 36px;

  @media screen and (max-width: 1600px) {
    font-size: 30px;
  }
}

h4 {
  font-size: 24px;

  @media screen and (max-width: 1600px) {
    font-size: 20px;
  }

  @media screen and (max-width: 575px) {
    font-size: 18px;
  }
}

p {
  line-height: 2.25;
  font-size: 16px;

  @media screen and (max-width: 1600px) {
    font-size: 14px;
  }

  @media screen and (max-width: 575px) {
    font-size: 10px;
  }
}

.logo {
  width: 130px;

  @media screen and (max-width: 991px) {
    width: 74px;
  }

  @media screen and (max-width: 767px) {
    width: 56px;
  }

  img {
    width: 100%;
  }
}

hr {
  border-top: 1px solid $color9;
}

a {
  &.highlight {
    color: $color3;

    &:hover {
      color: $color1;
    }
  }
}

.react-datepicker__input-container,
.custom-form-control {
  label {
    color: $color13;
    font-weight: 600;
    font-size: 16px;

    @media screen and (max-width: 991px) {
      font-size: 12px;
    }

    @media screen and (max-width: 575px) {
      font-size: 10px;
    }
  }

  .input {
    position: relative;
  }

  input,
  textarea {
    border: 1px solid $color14;
    width: 100%;
    margin-top: 8px;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    color: #06152b;
    font-weight: 600;

    @include transitioned;

    &::placeholder {
      color: $color2;
      font-weight: 400;
    }

    @media screen and (max-width: 991px) {
      font-size: 12px;
    }

    @media screen and (max-width: 575px) {
      font-size: 10px;
    }

    &:focus {
      border-color: $color3 !important;
      color: $color3;
    }
  }

  input {
    height: 48px;
  }

  .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(calc(-50% + 3px));
    cursor: pointer;
  }

  &.has-error {
    input,
    textarea,
    .custom-select-container {
      border-color: $color8 !important;
    }
  }
}

.helper-text {
  font-size: 12px;
  margin-top: 4px;

  &.error {
    color: $color8;
  }
}

.with-bottom-grad {
  position: relative;
  background-color: $color4;

  .page-container {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.323), #ffffff00);
  }
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid $color14;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover input ~ .checkmark {
    background-color: #eaeaea;
  }

  input:checked ~ .checkmark {
    background-color: $color3;
    border-color: transparent;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 3px;
    top: 1px;
    width: 4px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color3;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: $color3, $alpha: 0.8);
}

.d-1100-none {
  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.d-1101-none {
  @media screen and (min-width: 1101px) {
    display: none !important;
  }
}

.d-1367-none {
  @media screen and (min-width: 1367px) {
    display: none !important;
  }
}

.mt-1100-0 {
  @media screen and (max-width: 1100px) {
    margin-top: 0 !important;
  }
}

.text-red {
  color: #b11010 !important;
}

.text-green {
  color: #57d163 !important;
}

input {
  outline: none !important;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 6;
  opacity: 0;
  pointer-events: none;

  @include transitioned;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

.custom-modal-wrap {
  padding: 20px 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 16px));
  background-color: #fff;
  max-width: 854px;
  z-index: 6;
  border-radius: 20px;
  width: 90%;
  box-shadow: 0px 60px 109px 0px #0000004a;
  opacity: 0;
  pointer-events: none;

  @include transitioned;

  &.show {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: all;
  }
}

.custom-modal {
  padding: 10px 40px;
  max-height: calc(100vh - 80px);
  overflow-y: auto;

  .modal-main {
  }

  .close {
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    z-index: 1;

    @media screen and (max-width: 575px) {
      right: 20px;
    }

    img {
      display: block;

      @media screen and (max-width: 991px) {
        width: 24px;
      }

      @media screen and (max-width: 575px) {
        width: 18px;
      }
    }
  }

  .custom-form-control {
    margin-bottom: 20px;
  }

  .input {
    position: relative;

    .icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(calc(-50% + 3px));
    }
  }

  label {
    color: $color1;
    font-weight: 600;
    margin-bottom: 12px;

    @media screen and (max-width: 1600px) {
      font-size: 14px;
    }

    @media screen and (max-width: 575px) {
      font-size: 12px;
    }
  }
}

.react-calendar {
  border: 1px solid $color15 !important;
  border-radius: 10px;
  overflow: hidden;

  &,
  * {
    color: $color1;
  }

  .react-calendar__tile--hasActive {
    background: $color3;

    &,
    * {
      color: #fff;
    }
  }

  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: $color3;
    opacity: 0.9;
  }
  .react-calendar__navigation__label {
    &,
    * {
      font-weight: bold;
    }
  }

  .react-calendar__tile:not(.react-calendar__tile--hasActive):enabled:hover {
    // .react-calendar__tile:enabled:focus {
    background: transparent;

    opacity: 0.8;
  }

  .react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
    background: transparent;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 32px;
      background-color: $color3;
      border-radius: 50%;
    }

    & > * {
      position: relative;
    }

    * {
      color: #fff;
    }
  }

  .react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0;
  }

  .react-calendar__month-view__weekdays__weekday {
    &,
    * {
      font-size: 12px;
      font-weight: 500;
      opacity: 0.8;
    }
  }
}

.dropzone {
  cursor: pointer;
}

.custom-select-container {
  position: relative;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid $color14;
  z-index: 2;
  margin-top: 8px;

  .dual-valued {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .selected-text {
    position: relative;
    padding: 11.5px 16px;
    cursor: pointer;
    // color: $color1;
    font-size: 16px;
    height: 48px;
    align-items: center;
    display: flex;

    @media screen and (max-width: 991px) {
      font-size: 12px;
    }

    @media screen and (max-width: 575px) {
      font-size: 10px;
    }

    &.added {
      color: $color1;
      font-weight: 600;
    }

    &::after {
      content: url(../assets/chevron.svg);
      // content: "";
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50% + 1px));
      right: 16px;
      // border: 7px solid transparent;
      // border-color: black transparent transparent transparent;

      @include transitioned;
    }

    &.active {
      &::after {
        transform: translateY(calc(-50% - 2px)) rotateX(180deg);
      }
    }

    .dual-valued {
      padding-right: 40px;
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    text-align: left;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid $color14;

    input {
      color: $color1 !important;
      border-radius: 4px !important;
      width: calc(100% - 32px) !important;
      margin: 8px auto;
    }
  }

  .select-options {
    position: absolute;
    margin-top: 1px;
    width: 100%;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    z-index: 1;
    max-height: 100px;

    // @include has-scrollbar;
  }

  li {
    &,
    * {
      color: $color1 !important;
      font-size: 16px;
    }

    list-style-type: none;
    padding: 8px 20px;
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid $color14;
    margin: 0;

    @include transitioned;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: rgba($color: $color11, $alpha: 0.5);
  }

  .show-dropdown-options {
    // min-height: 170px;
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .hide-dropdown-options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.react-datepicker-wrapper {
  .icon {
    pointer-events: none;
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  &:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 14px solid $color3;
    border-color: $color3 transparent $color3 transparent;
    animation: lds-hourglass 1.2s infinite;
  }

  &.lg {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;

    &:after {
      border-width: 32px;
    }
  }
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.Toastify__toast-body {
  * {
    font-size: 12px;
  }
}

.react-time-picker__wrapper {
  height: 48px;
  border: 1px solid #c3cad9;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
  padding: 12px 20px;

  * {
    font-size: 16px;
    color: #06152b;
    font-weight: 600;
  }
}

.c-pointer {
  cursor: pointer;
}

.react-datepicker__month-container {
  z-index: 2;
  background-color: #fff;
}
