@import "./colors";
@import "./utilities-2";
@import "./utilities";

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ******************************************************** HEADER ******************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  #navbar {
    position: relative;
    padding: 25px 0;
    background-color: #fff;

    @media screen and (max-width: 1600px) {
      padding: 22px 0;
    }

    @media screen and (max-width: 767px) {
      padding: 15px 0;
    }

    a {
      @include transitioned;
    }

    .menu-bar {
      position: absolute;
      left: 0;
      right: 0;
      border-radius: 0 0 20px 20px;
      background-color: #fff;
      top: 100%;

      .close {
        position: absolute;
        top: 25px;
        right: 60px;

        @media screen and (max-width: 575px) {
          right: 24px;
          top: 10px;
        }
      }

      a {
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 14px;

        @media screen and (max-width: 1600px) {
          padding-left: 45px;
          padding-right: 45px;
        }

        @media screen and (max-width: 575px) {
          padding-left: 9px;
          padding-right: 9px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $color15;
        }

        &.active {
          color: $color1;
        }
      }
    }

    .navbar-main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .links {
        display: flex;
        align-items: center;
        gap: 60px;

        @media screen and (max-width: 1600px) {
          gap: 40px;
        }

        @media screen and (max-width: 767px) {
          gap: 30px;
        }

        a {
          color: $color1;

          &:not(.active):not(.btn):not(:hover) {
            opacity: 0.3;
          }

          // &.active {
          // }
        }
      }
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ************************************************************ FOOTER **************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#footer {
  position: relative;
  background-color: $color4;
  text-align: center;
  padding-top: 100px;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }

  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    @media screen and (max-width: 991px) {
      gap: 44px;
    }

    @media screen and (max-width: 575px) {
      gap: 34px;
    }

    .links {
      display: flex;
      gap: 40px;

      @media screen and (max-width: 400px) {
        flex-direction: column;
        gap: 20px;
      }

      a {
        @include transitioned;

        &:hover {
          color: $color3;
        }
      }

      * {
        color: $color1;
        font-size: 18px;

        @media screen and (max-width: 1600px) {
          font-size: 14px;
        }

        @media screen and (max-width: 575px) {
          font-size: 12px;
        }
      }
    }

    .reach-us {
      * {
        color: $color3;
        font-size: 16px;

        @media screen and (max-width: 991px) {
          font-size: 12px;
        }

        @media screen and (max-width: 575px) {
          font-size: 10px;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
    border-top: 1px solid $color5;
    max-width: 1590px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;

    @media screen and (max-width: 1600px) {
      font-size: 12px;
      padding-top: 22px;
      padding-bottom: 10px;
    }

    @media screen and (max-width: 575px) {
      font-size: 10px;
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ******************************************************** LANDING HERO ************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#landing-hero {
  position: relative;
  background-color: $color4;

  @media screen and (max-width: 1600px) and (min-width: 992px) {
    padding-top: 0px;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 1300px) and (min-width: 992px) {
    padding-top: 30px;
  }

  @media screen and (max-width: 991px) {
    padding-top: 70px;
  }

  @media screen and (max-width: 575px) {
    padding-top: 60px;
    padding-bottom: 66px;
  }

  .main-row {
    --bs-gutter-y: 50px;

    @media screen and (max-width: 575px) {
      --bs-gutter-y: 36px;
    }
  }

  .right-img {
    @media screen and (max-width: 991px) {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 575px) {
      max-width: 240px;
    }
  }

  .dots {
    position: absolute;
    left: -8px;
    top: 200px;
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ******************************************************** LANDING FEAURES *********************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#landing-features {
  position: relative;

  .bg-feature-1,
  .bg-feature-2,
  .bg-feature-3,
  .bg-feature-4,
  .bg-feature-5,
  .bg-feature-6 {
    position: absolute;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .bg-feature-1 {
    left: 65px;
    top: 60px;
  }

  .bg-feature-2 {
    right: 30px;
    top: 70px;
  }

  .bg-feature-3 {
    left: 19px;
    top: 642px;
  }

  .bg-feature-4 {
    left: 0;
    top: 1454px;
  }

  .bg-feature-5 {
    left: 200px;
    bottom: 130px;
  }

  .bg-feature-6 {
    right: 150px;
    bottom: -60px;
  }

  h3 {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 4px;
      width: 90px;
      bottom: 0;
    }
  }

  .row {
    --bs-gutter-x: 110px;
    --bs-gutter-y: 40px;
    margin-bottom: 100px;
    position: relative;

    @media screen and (max-width: 1600px) {
      --bs-gutter-x: 50px;
    }

    @media screen and (max-width: 991px) {
      --bs-gutter-x: 30px;
    }

    img {
      display: block;

      &:not(.dots-img) {
        position: relative;
        width: 100%;
        border-radius: 20px;

        @media screen and (max-width: 991px) {
          border-radius: 12px;
        }

        @media screen and (max-width: 767px) {
          border-radius: 8px;
        }
      }

      &.dots-img {
        position: absolute;
        top: -30px;

        @media screen and (max-width: 991px) {
          display: none;
        }
      }
    }

    .img-container {
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      .dots-img {
        right: 0;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      .dots-img {
        left: 0;
      }
    }

    &:nth-child(1) {
      h3::after {
        background-color: $color3;
      }
    }

    &:nth-child(2) {
      h3::after {
        background-color: $color6;
      }
    }

    &:nth-child(3) {
      h3::after {
        background-color: $color7;
      }
    }

    &:nth-child(4) {
      h3::after {
        background-color: $color8;
      }
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  *********************************************************** PRICING **************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#pricing {
  padding: 80px;

  .main-title {
    @media screen and (max-width: 1600px) {
      font-size: 32px;
      max-width: 438px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 1600px) {
      font-size: 22px;
      max-width: 270px;
    }
  }

  .main-row {
  }

  .cards {
    position: relative;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    .card {
      padding: 56px 48px;
      min-height: 550px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 25px;

      @media screen and (max-width: 1600px) {
      }

      @media screen and (max-width: 1200px) {
        max-width: 338px;
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and (max-width: 575px) {
        padding-left: 34px;
        padding-right: 34px;
      }

      .title {
        @media screen and (min-width: 1601px) {
          font-size: 20px;
        }

        @media screen and (max-width: 575px) {
          font-size: 14px;
        }

        .price {
          font-size: 42px;
          color: $color3;
          font-weight: 700;

          @media screen and (max-width: 1600px) {
            font-size: 36px;
          }

          @media screen and (max-width: 575px) {
            font-size: 30px;
          }
        }
      }

      ul.features {
        li {
          position: relative;
          color: $color10;
          margin-bottom: 14px;
          padding-left: 26px;
          color: $color10;
          font-size: 18px;

          @media screen and (max-width: 1600px) {
            font-size: 14px;
          }

          @media screen and (max-width: 575px) {
            font-size: 12px;
          }

          &::after {
            position: absolute;
            content: url("../assets/list-style-1.svg");
            left: 0;
            top: 50%;
            transform: translateY(calc(-50% + 2px));
          }
        }
      }

      .btn {
        padding-left: 20px;
        padding-right: 20px;
        height: 50px;

        .btn-text {
          font-size: 18px;
        }

        @media screen and (max-width: 1600px) {
          .btn-text {
            font-size: 14px;
          }
        }
      }

      &.active {
        background-color: #fff;
        box-shadow: 0px 20px 180px 0px #0000000d;

        .btn {
          background-color: $color3;

          .btn-text {
            color: #fff;
          }

          .btn-icon {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(150deg)
              brightness(104%) contrast(104%);
          }
        }
      }
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  *********************************************************** SUPPORT **************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#support {
  padding-bottom: 200px;

  .form-wrap {
    border-radius: 20px;
    padding: 56px 50px;
    background-color: #fff;
    max-width: 826px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 34px 80px 0px #0000000a;

    @media screen and (max-width: 767px) {
      padding: 60px 50px;
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ************************************************************* BLOGS **************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#blogs {
  .main-row {
    --bs-gutter-x: 32px;
    --bs-gutter-y: 52px;

    @media screen and (max-width: 767px) {
      --bs-gutter-x: 48px;
      --bs-gutter-y: 56px;
    }

    @media screen and (max-width: 575px) {
      --bs-gutter-y: 36px;
    }
  }

  .blog-cards {
    .card {
      border-radius: 20px;
      overflow: hidden;

      .card-img {
        img {
          display: block;
          width: 100%;
        }
      }

      .card-body {
        background-color: #fff;
        padding: 18px 26px 30px;
        box-shadow: 0px 34px 80px 0px #0000000a;

        p {
          font-size: 14px;
          line-height: 1.5;

          @media screen and (max-width: 1600px) {
            font-size: 12px;
          }
        }

        .btn {
          padding: 16px;
          height: 50px;
          padding-left: 12px;
          padding-right: 12px;

          @media screen and (max-width: 1600px) {
            height: 44px;
          }

          .btn-text {
            font-size: 16px;

            @media screen and (max-width: 1600px) {
              font-size: 14px;
            }
          }

          .btn-icon {
            margin-left: 24px;
          }
        }
      }
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ************************************************************* BLOGS **************************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

#auth {
  background-color: $color4;
  padding-top: 40px;

  .auth-card {
    padding: 40px 60px 50px;
    border-radius: 25px;
    border-top: 4px solid $color3;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 20px 180px 0px #0000000d, 0px -5px 0px 0px #3a36db;

    @media screen and (max-width: 991px) {
      max-width: 470px;
    }

    h3 {
      @media screen and (max-width: 1600px) {
        font-size: 24px;
      }

      @media screen and (max-width: 575px) {
        font-size: 18px;
      }
    }

    .btn.shadowed {
      height: 46px;
      box-shadow: 3.99399995803833px 22.650999069213867px 57px 0px #6149cd42;
    }

    label {
      color: $color1;
      // font-size: 12px;
      margin-bottom: 16px;
    }
  }
}

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

//  ************************************************************* DASHBOARD LAYOUT ***************************************************

// ***********************************************************************************************************************************
// ***********************************************************************************************************************************

.dashboard-layout {
  background-color: $color4;
  height: 100vh;
  padding: 20px;
  display: flex;

  @media screen and (max-width: 1100px) {
    padding: 20px 12px;
  }

  .layout-left {
    flex-shrink: 0;
    width: 398px;
    padding: 100px 44px;
    padding-left: 22px;

    @media screen and (max-width: 1650px) {
      padding-left: 0;
      padding-right: 22px;
      width: 274px;
    }

    @media screen and (max-width: 1365px) {
      display: none;
    }

    .layout-tabs {
      margin-top: 116px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: 1650px) {
        margin-top: 50px;
      }

      a {
        display: flex;
        align-items: center;
        height: 76px;
        width: 100%;
        border-radius: 20px;
        padding: 0 30px;
        font-weight: 500;

        @media screen and (max-width: 1650px) {
          font-size: 16px;
          padding: 0 20px;
          height: 60px;
        }

        img {
          margin-right: 16px;
          filter: invert(83%) sepia(4%) saturate(4385%) hue-rotate(178deg)
            brightness(78%) contrast(79%);

          @media screen and (max-width: 1650px) {
            margin-right: 14px;
          }
        }

        &.active {
          background-color: $color3;
          color: #fff;

          img {
            filter: invert(100%) sepia(5%) saturate(1652%) hue-rotate(326deg)
              brightness(99%) contrast(92%);
          }
        }
      }
    }
  }

  .layout-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 40px;
    padding: 80px 0;

    @media screen and (max-width: 1650px) {
      padding: 40px 0;
    }

    @media screen and (max-width: 1365px) {
      border-radius: 30px;
    }

    & > * {
      padding: 0 60px;

      @media screen and (max-width: 1650px) {
        padding: 0 40px;
      }

      @media screen and (max-width: 1100px) {
        padding: 0 16px;
      }
    }

    .layout-head {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      .head-left {
        flex-grow: 1;

        @media screen and (max-width: 400px) {
          margin-top: 80px;
        }

        .greeting {
          font-size: 22px;

          @media screen and (max-width: 1700px) {
            font-size: 18px;
          }

          @media screen and (max-width: 1100px) {
            margin-top: 70px;
          }

          @media screen and (max-width: 575px) {
            font-size: 14px;
          }

          @media screen and (max-width: 400px) {
            margin-top: 20px;
          }
        }

        h2 {
          @media screen and (max-width: 1700px) {
            font-size: 36px;
          }

          @media screen and (max-width: 575px) {
            font-size: 20px;
          }
        }

        .layout-tabs {
          position: relative;
          height: 60px;
          margin-top: 20px;

          @media screen and (min-width: 1366px) {
            display: none;
          }

          * {
            color: $color13;
          }

          img {
            &:not(.chevron) {
              filter: invert(42%) sepia(9%) saturate(1281%) hue-rotate(165deg)
                brightness(96%) contrast(84%);

              @media screen and (max-width: 575px) {
                width: 18px;
              }
            }
          }

          .active-item {
            padding: 10px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: $color4;
            border-radius: 10px;
            gap: 10px;
            height: 60px;
            cursor: pointer;

            @media screen and (max-width: 575px) {
              padding: 10px 20px;
            }

            img {
              @include transitioned;
            }

            * {
              font-size: 18px;

              @media screen and (max-width: 575px) {
                font-size: 14px;
              }
            }
          }

          .list {
            position: absolute;
            left: 0;
            right: 0;
            top: 60px;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid $color16;
            display: none;
            z-index: 1;

            & > * {
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 10px 30px;
              font-size: 16px;

              @include transitioned;

              &:hover {
                background-color: $color4;
              }

              @media screen and (max-width: 575px) {
                padding: 10px 20px;
              }
            }
          }

          &.active {
            .active-item {
              img.chevron {
                transform: rotateX(180deg);
              }
            }
          }
        }
      }

      .head-right {
        display: flex;
        align-items: center;
        gap: 44px;

        @media screen and (max-width: 1100px) {
          position: absolute;
          right: 40px;
          top: 0;
          gap: 20px;
        }

        @media screen and (max-width: 575px) {
          right: 16px;
        }

        @media screen and (max-width: 400px) {
          right: unset;
          left: 16px;
        }

        .user {
          img {
            border-radius: 50%;
            display: block;

            @media screen and (max-width: 1100px) {
              width: 60px;
            }
          }
        }

        .btns {
          display: flex;
          gap: 10px;

          .btn {
            padding: 0 28px;
            height: 60px;
            min-width: 60px;

            @media screen and (max-width: 1100px) {
              height: 60px;
              width: 60px;
              padding: 0;
              justify-content: center;
              background-color: $color3;
            }
          }
        }
      }
    }

    .main-layout-content {
      margin-top: 80px;
      overflow-y: auto;

      @media screen and (max-width: 1100px) {
        margin-top: 50px;
      }

      .card-lg {
        border-radius: 20px;

        @media screen and (min-width: 1101px) {
          padding: 50px;
          border: 1px solid $color16;
        }

        @media screen and (max-width: 1650px) {
          padding: 30px 20px;
        }

        @media screen and (max-width: 1100px) {
          padding: 0;
        }

        .title {
          font-size: 28px;

          @media screen and (max-width: 992px) {
            font-size: 24px;
          }

          @media screen and (max-width: 575px) {
            font-size: 16px;
          }
        }

        .custom-table {
          width: 100%;
          margin-top: 50px;

          @media screen and (min-width: 1101px) {
            display: table;
          }

          .row-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (min-width: 1101px) {
              display: table-row;
            }

            @media screen and (max-width: 1100px) {
              padding: 40px;
              border: 1px solid $color16;
              border-radius: 10px;
              margin-bottom: 24px;
            }

            @media screen and (max-width: 1100px) {
              padding: 20px;
            }

            .cell-item {
              @media screen and (min-width: 1101px) {
                display: table-cell;
              }

              @media screen and (max-width: 1100px) {
                width: 100%;
                display: flex;
                justify-content: space-between;
                max-width: 767px;
                margin-left: auto;
                margin-right: auto;
              }

              .left {
                &,
                * {
                  font-size: 16px;
                  color: $color2;
                  font-weight: 400;

                  @media screen and (max-width: 1100px) {
                    font-size: 12px;
                  }
                }

                @media screen and (min-width: 1101px) {
                  display: none;
                }
              }
            }
          }

          .table-head,
          .table-body {
            @media screen and (min-width: 1101px) {
              display: table-row-group;
            }
          }

          .table-head {
            @media screen and (max-width: 1100px) {
              display: none;
            }

            .cell-item {
              font-size: 16px;
              padding: 10px;
            }
          }

          .table-body {
            * {
              color: $color1;
              font-weight: 600;

              @media screen and (max-width: 1100px) {
                font-size: 14px;
              }
            }

            .cell-item {
              padding: 10px;

              @media screen and (min-width: 1101px) {
                padding: 30px 10px;
                border-bottom: 1px solid $color9;
              }
            }
          }
        }

        .custom-form-control {
          label {
            color: $color1;
            font-size: 18px;

            @media screen and (max-width: 575px) {
              font-size: 14px;
            }
          }

          input {
            border-color: $color15;
          }
        }

        .custom-form-control + .custom-form-control {
          margin-top: 30px;
        }

        .payment-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 28px 0;
          border-bottom: 1px solid $color9;
          gap: 20px;

          @media screen and (max-width: 400px) {
            flex-direction: column;
          }

          &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
          }

          .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 200px;
            flex-grow: 1;
            gap: 20px;

            @media screen and (max-width: 575px) {
              max-width: 150px;
            }

            .tag {
              border-radius: 20px;
              color: #fff;
              padding: 4px 12px;
              font-size: 12px;

              @media screen and (max-width: 575px) {
                font-size: 9px;
              }

              &.green {
                background-color: #61ff47;
              }

              &.blue {
                background-color: #47b2ff;
              }
            }

            .btns {
              display: flex;
              align-items: center;
              gap: 18px;
            }
          }
        }
      }
    }
  }
}
